*{
    font-family: "Inter", sans-serif;
}
.clicked-category {
  background-color: #15803D;
  color: white;
}

.category-link:hover {
  background-color: #dcfce7;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
}

.modal[open] {
  display: flex;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}